body {
    font-family: "PTSans", "Arial", sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}
/*------------------navigation------------------*/
.main_header {

}
.main_nav {
    background-color: #353533;
}
.wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 980px;
}

.logo {
    height: 50px;
    display: inline-block;
    background-color: #f26c4f;
}
.logo__name {
    display: inline-block;
    padding: 5px 70px 10px 25px;

    font-size: 28px;
    color: #fff;
    text-decoration: none;
}
.logo__decoration {

}
.main_nav__menu {

}
.menu {
    height: 50px;

    display: flex;
    list-style: none;
    background-color: #353533;
    padding: 0 0 0 20px;
    margin: 0;
}
.menu__item {
    display: block;
    padding: 15px 10px;
    box-sizing: border-box;

    height: 50px;
    text-decoration: none;
    font-family: "PTSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}
.menu__item:hover {
    background-color: #f26c4f;
}


/*------------------main body------------------*/